section{
    width: 100%;
    max-width: 1440px;
    margin: auto;
}
body{
    padding: 50px 100px;
}
h1{
    text-align: center;
    background-color: cornflowerblue;
    color: black;
    padding: 10px;
    margin: 0px;
}
textarea{
    width: 99.4%;
    border-color: cornflowerblue;
}
p{
    text-align: center;
    background-color: cornflowerblue;
    font-size: 25px;
    font-weight: bold;
    color: black;
    padding: 10px;
    margin: 0px;
}
@media (min-width: 320px) and (max-width:425px){
    body{
        padding: 0px;
    }
    h1{
        font-size: 22px;
    }
    textarea {
        width: 98.2%;
    }
}
@media (min-width: 425px) and (max-width:768px){
    body{
        padding: 0px;
    }
    h1{
        font-size: 22px;
    }
    textarea {
        width: 98.9%;
    }
}