body{
    background-color: #2C3E50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container{
    color: #d7dfe4;
}
.digit{
    font-size: 135px;
    font-weight: bold;
}
.txt{
    font-size: 42px;
    font-weight: bold;
}
#btn-container{
    text-align: center;
    margin-top: 40px;
}
.btn{
    padding: 7px 25px;
    font-size: 15px;
    margin: 0px 10px;
    color: white;
    border: 0px;
    cursor: pointer;
}
#start{
    background-color: #1abc9c;
}
#stop{
    background-color: #3498db;
}
#reset{
    background-color: #e74c3c;
}
@media (min-width: 320px) and (max-width:768px){
    .digit {
        font-size: 20px;
        font-weight: bold;
        padding-left: 17px;
    }
    .txt {
        font-size: 27px;
        font-weight: bold;
    }
    .btn {
        padding: 7px 25px;
        font-size: 15px;
        margin: 0px 7px;
    }
}